.field {
  display: flex;
  width: 29%;
  margin-left: 1%;
  color: #fff;
  font-size: 1.3em;
  flex-direction: column;
  align-items: left;
}

.field-title {
  color: black;
}

.box {
  display: flex;
  direction: column;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
  width: 500px;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.286);
}
.boxEdit{
  background-color: white;
  margin-bottom: 20px;
  padding: 5px;
  width: 500px;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.286);

}

.boxText{

height: 55px;
}

.box:last-child {
  margin-bottom: 0;
}

textarea {
  resize: none;
  background-color: #fafafa;
  border: 1.5px solid silver;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.7em;
  width: 90%;
  outline: none;
}

.btnNew {
  background-color: rgb(252, 225, 225);
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.345);
  color: black;
  margin-bottom: 10px;
  width: 50%;
  height: 40px;
}
.btnInCorner {
  border: 1px solid black;
  border-radius: 2px;
  margin: 0px 1px;
  margin-bottom: 10px;
}

.btnSuccess {
  background-color: rgb(252, 225, 225);
  border-radius: 2px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.345);
  margin-top: 5px;
  width: 50px;
  height: 30px;
  font-size: 14px;
}

.userName {
  color: black;
  font-weight: bold;
  margin-left: 20px;
}

.commentOfUser {
  color: black;
  margin-top: 10px;
  margin-left: 20px;
}

.currentPicture {
  margin-top: 25px;
  border: 6px solid rgb(216, 213, 213);
  border-radius: 40px;
}

.userProfile {
  display: flex;
  direction: column;
}

.btnRemoveEdit {
  display: flex;
  direction: row;
}